.header {
    z-index: 10;
    position: fixed;
    padding: 0.5rem 0 0 0;
    width: 28%;
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        

                        .item_link {
                    text-decoration: none;
                    
                    h1 {
                        font-size: 2rem;
                        font-weight: 700;   
                    }
                }
        .logo {
            display: inline-block;
            width: 75%;
            padding-left: 0.5rem;
            h2 {
                background-color: #FFFCF9;
                display: inline-block;
                padding: 0.5rem 1rem;
            }
            
        }
        .menu_items_container {
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            list-style-type: none;
            .menu_item {
                
                width: 100%;
                padding: 0.75rem;
                .item_link {
                    text-decoration: none;
                    
                }
            }
        }
    }
}